.container{background: #fff; width: 75%;}
.main__container{min-height: 500px; padding-top: 50px;}
.navbar__container, .footer__container{padding: 0}

.main__navbar{margin-bottom: 0; border-radius: 0; background: gray; border: none}
.main__navbar ul.navbar-nav li a,
.main__navbar a.navbar-brand{color: #c8c8c8}
.main__navbar a.navbar-brand:hover,
.main__navbar ul.navbar-nav li a:hover,
.main__navbar ul.navbar-nav li a:focus{color: #fff}

h1.title{font-weight: bold;}
h2.page__title{margin-bottom: 50px;  font-weight: bold;}
article.media{margin-bottom: 50px;}
h4.media-heading{margin-bottom: 20px;}
p.body{margin-top: 20px;}
p.info{font-size: 13px; color: #aaa;}
p.info a{font-size: 11px; color:#636B6F; font-weight: bold;  text-transform: uppercase; margin-right: 15px;}
div.article__buttons{margin: 25px 0 0 0;}
div.article__buttons span:nth-child(2),
div.article__buttons span:nth-child(3){margin-right: 30px;}
a.btn__edit{margin-right: 3px;}

.panel__form{border: 1px solid #eee}
.panel__form .panel-body{background: #f9f9f9; padding: 25px 50px; }

h4.side__title{margin: 70px 0 0 40px}

table.admin__table{font-size: 12px;}

footer{background:gray; padding: 20px 0; margin-top: 50px;}
footer p{color: #fff; margin-bottom: 0;}